@font-face {
    font-family: 'hff_low_sunregular';
    src: url('font/hff_low_sun-webfont.eot');
    src: url('font/hff_low_sun-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/hff_low_sun-webfont.woff') format('woff'),
         url('font/hff_low_sun-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kbsticktotheplanmedium';
    src: url('font/kbsticktotheplan-webfont.eot');
    src: url('font/kbsticktotheplan-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/kbsticktotheplan-webfont.woff') format('woff'),
         url('font/kbsticktotheplan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@-webkit-keyframes puff {

	from 
	{ 
		opacity: 1;
		-webkit-transform: scale(1);
	}
	
	to
	{ 
		opacity: 0;
		-webkit-transform: scale(2);
	}
}

@-ms-keyframes puff {

	from 
	{ 
		opacity: 1;
		-ms-transform: scale(1);
	}
	
	to
	{ 
		opacity: 0;
		-ms-transform: scale(2);
	}
}

@-moz-keyframes puff {

	from 
	{ 
		opacity: 1;
		-moz-transform: scale(1);
	}
	
	to
	{ 
		opacity: 0;
		-moz-transform: scale(2);
	}
}

@keyframes puff {

	from 
	{ 
		opacity: 1;
		transform: scale(1);
	}
	
	to
	{ 
		opacity: 0;
		transform: scale(2);
	}
}


@-webkit-keyframes finger {

	from 
	{ 
		-webkit-transform: translate(0px, 10px);
	}
	
	to
	{ 
		-webkit-transform: translate(0px, 0px);
	}
}

@-ms-keyframes finger {

	from 
	{ 
		-ms-transform: translate(0px, 10px);
	}
	
	to
	{ 
		-ms-transform: translate(0px, 0px);
	}
}

@-moz-keyframes finger {

	from 
	{ 
		-moz-transform: translate(0px, 10px);
	}
	
	to
	{ 
		-moz-transform: translate(0px, 0px);
	}
}

@keyframes finger {

	from 
	{ 
		transform: translate(0px, 10px);
	}
	
	to
	{ 
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes horizontal-slide {

	from 
	{
		background-position: -210px 0;
	}
	
	to 
	{
		background-position: 210px 0;
	}
}

@-ms-keyframes horizontal-slide {

	from 
	{ 
		background-position: -210px 0;
	}
	
	to
	{ 
		background-position: 210px 0;
	}
}

@-moz-keyframes horizontal-slide {

	from 
	{ 
		background-position: -210px 0;
	}
	
	to
	{ 
		background-position: 210px 0;
	}
}

@keyframes horizontal-slide {

	from 
	{ 
		background-position: -210px 0;
	}
	
	to
	{ 
	
		background-position: 210px 0;
	}
}


html, body {
	
	/* disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

body {
	
	background: #ab0030;
}

body > * {
	
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.ng-hide {

	display: block !important;
}

.ng-show {
	
	opacity: 1;
}

body > .ng-animate.ng-hide-add, 
body > .ng-animate.ng-hide-add.ng-hide-add-active {

	-webkit-transition: 0.5s all; /* Chrome */
	transition: 0.5s all;
	
	-webkit-transition-timing-function: cubic-bezier(.48,.62,.24,1.38);
	transition-timing-function: cubic-bezier(.48,.62,.24,1.38);
}

body > *.ng-hide {

	opacity: 0;
	
	transform: scale(2) rotate(30deg);
	-webkit-transform: scale(5) rotate(30deg);
	-moz-transform: scale(5) rotate(30deg);
	-o-transform: scale(5) rotate(30deg);
	-ms-transform: scale(5) rotate(30deg);
}

body > * {

	-webkit-transition: 0.5s ease-out all; /* Chrome */
	transition: 0.5s ease-out all;
	opacity: 1;
}

.n-bounce {
	
	-webkit-transition: 0.5s all; /* Chrome */
	transition: 0.5s all;
	
	-webkit-transition-timing-function: cubic-bezier(.48,.62,.24,1.38);
	transition-timing-function: cubic-bezier(.48,.62,.24,1.38);
	
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
}

.n-margin-top {
	
	margin-top: 30px;
}

.n-guidance-container {
	
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-bottom: 23px;
}

.n-guidance-well {
	
	background: -moz-linear-gradient(top, #010101, #181818);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));
}

.n-guidance-text {
	
	display: inline-block;
	text-transform: uppercase;
	color: white;
	font-size: 24px;
	vertical-align: middle;
	
	background: -moz-linear-gradient(left, #ffffff, 0.4, #ffffff, 0.5, #aaaaaa, 0.6, #ffffff, #ffffff); 
	background: -webkit-gradient(
					linear,
					left top,
					right top,
					color-stop(0, #ffffff),
					color-stop(0.4, #ffffff),
					color-stop(0.5, #aaaaaa),
					color-stop(0.6, #ffffff),
					color-stop(1, #ffffff)); 
	
	-moz-background-clip: text;
	-webkit-background-clip: text;
	
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	
	-webkit-font-smoothing: antialiased;
	-webkit-animation: horizontal-slide 3s infinite;
	
	font-family: "HelveticaNeue-Light", 
				 "Helvetica Neue Light", 
				 "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
				 
	font-weight: 300;
	width: 420px;
	
	-webkit-text-size-adjust: none;
}

.n-guidance-target {

	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/target.png);
	
	-webkit-animation-timing-function: ease-out;
	-webkit-animation: puff 1s infinite;
	-moz-animation-timing-function: ease-out;
	-moz-animation: puff 1s infinite;
	-ms-animation-timing-function: ease-out;
	-ms-animation: puff 1s infinite;
	animation-timing-function: ease-out;
	animation: puff 1s infinite;
	
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.n-guidance-finger {

	z-index: 10;
	position: absolute;
	left: 0px;
}

.n-guidance-pointer {
	
	display: inline-block;
	background: url(../images/target.png);
	width: 50px;
	height: 50px;
	vertical-align: middle;
	margin-left: 30px;
	position: relative;
}

.n-guidance-finger {
	
	margin-left: 50%;
	margin-top: 50%;

	-webkit-animation-timing-function: ease-out;
	-webkit-animation: finger 1s infinite;
	-moz-animation-timing-function: ease-out;
	-moz-animation: finger 1s infinite;
	-ms-animation-timing-function: ease-out;
	-ms-animation: finger 1s infinite;
	animation-timing-function: ease-out;
	animation: finger 1s infinite;
}

/*************************************************************************************** 
	Home 
****************************************************************************************/

.home-body {
	
	background: url(../images/landing-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.home-body .n-home-title {
	
	font-family: 'hff_low_sunregular';	
	font-size: 60px;
	color: white;
	text-shadow: 3px 3px 5px black;
	margin-top: 60px;
}

.home-body .n-credit-cards {
	
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
}

/*************************************************************************************** 
	Intro
****************************************************************************************/

.intro-body {
	
	background: url(../images/main-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.intro-body .n-intro-title {
	
	font-family: 'kbsticktotheplanmedium';	
	font-size: 120px;
	color: white;
	
	letter-spacing: 1px;
	text-shadow: 
		3px 0 0 #791214, -3px 0 0 #791214, 
		0 3px 0 #791214, 0 -3px 0 #791214, 
		1px 1px #791214, -1px -1px 0 #791214, 
		1px -1px 0 #791214, -1px 1px 0 #791214,

		10px 0 0 rgba(249,207,0,0.5), -10px 0 0 rgba(249,207,0,0.5), 
		9px 1px 0 rgba(249,207,0,0.5), -9px -1px 0 rgba(249,207,0,0.5), 
		8px 2px 0 rgba(249,207,0,0.5), -8px -2px 0 rgba(249,207,0,0.5), 
		7px 3px 0 rgba(249,207,0,0.5), -7px -3px 0 rgba(249,207,0,0.5), 
		6px 4px 0 rgba(249,207,0,0.5), -6px -4px 0 rgba(249,207,0,0.5), 
		5px 5px 0 rgba(249,207,0,0.5), -5px -5px 0 rgba(249,207,0,0.5), 
		4px 6px 0 rgba(249,207,0,0.5), -4px -6px 0 rgba(249,207,0,0.5), 
		3px 7px 0 rgba(249,207,0,0.5), -3px -7px 0 rgba(249,207,0,0.5), 
		2px 8px 0 rgba(249,207,0,0.5), -2px -8px 0 rgba(249,207,0,0.5), 
		1px 9px 0 rgba(249,207,0,0.5), -1px -9px 0 rgba(249,207,0,0.5), 
		0 10px 0 rgba(249,207,0,0.5), 0 -10px 0 rgba(249,207,0,0.5), 
		
		9px -1px 0 rgba(249,207,0,0.5), -9px 1px 0 rgba(249,207,0,0.5),
		8px -2px 0 rgba(249,207,0,0.5), -8px 2px 0 rgba(249,207,0,0.5),
		7px -3px 0 rgba(249,207,0,0.5), -7px 3px 0 rgba(249,207,0,0.5),
		6px -4px 0 rgba(249,207,0,0.5), -6px 4px 0 rgba(249,207,0,0.5),
		5px -5px 0 rgba(249,207,0,0.5), -5px 5px 0 rgba(249,207,0,0.5),
		4px -6px 0 rgba(249,207,0,0.5), -4px 6px 0 rgba(249,207,0,0.5),
		3px -7px 0 rgba(249,207,0,0.5), -3px 7px 0 rgba(249,207,0,0.5),
		2px -8px 0 rgba(249,207,0,0.5), -2px 8px 0 rgba(249,207,0,0.5),
		1px -9px 0 rgba(249,207,0,0.5), -1px 9px 0 rgba(249,207,0,0.5);
		
	margin-top: 60px;
	line-height: 120px;
	
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-o-transform: scale(0.7);
	-ms-transform: scale(0.7);
}

.n-intro-container .n-intro-bg {

	position: absolute;
	width: 100%;
	height: 100%;

	background: url(../images/sun-beams.png);
	background-size: cover;
	background-position: center center;

	-webkit-transition: 2s ease-out all; /* Chrome */
	transition: 2s ease-out all;

	transform: scale(3) rotate(-50deg);
	-webkit-transform: scale(3) rotate(-50deg);
	-moz-transform: scale(3) rotate(-50deg);
	-o-transform: scale(3) rotate(-50deg);
	-ms-transform: scale(3) rotate(-50deg);
}

.intro-body > .n-intro-container .n-intro-bg {
	
	transform: scale(1) rotate(0deg);
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
}

.intro-body .n-intro-foods {
	
	position: absolute;
	width: 100%;
	height: 100%;
}

.intro-body .n-intro-title div:nth-child(2) {
	
	font-size: 72px;
}

.intro-body .n-bounce {
	
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}

.intro-body .n-bounce:nth-child(1) {
	
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.intro-body .n-bounce:nth-child(2) {
	
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.intro-body .n-bounce:nth-child(3) {
	
	-webkit-transition-delay: 1.1s;
	transition-delay: 1.1s;
}

/*************************************************************************************** 
	Products
****************************************************************************************/

.products-body {
	
	background: url(../images/products-bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.products-body .n-products-title {

	font-family: 'hff_low_sunregular';	
	font-size: 48px;
	color: white;
	text-shadow: 3px 3px 5px black;
	margin-top: 30px;
	margin-left: 20px;
	text-align: left;
}

.n-slip-container {

    position: absolute;
    padding: 8px 8px 32px 8px;
    background: #ffffff;
    top: 20px;
    bottom: 100px;
    left: 0px;
    right: 20px;
}
	 
.n-slip-container:after {
    background: 
    	linear-gradient(-45deg, #de1836 16px, transparent 0), 
    	linear-gradient(45deg, #de1836 16px, transparent 0);
    	
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}

@media screen and (min-height: 1000px) {
	
	.n-margin-large-top {
		
		margin-top: 30%;
	}
	
	.n-margin-top {
		
		margin-top: 20%;
	}
	
	.home-body .n-credit-cards,
	.intro-body .n-intro-title {
		
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
	}
	
	.intro-body .n-intro-foods {
		
		margin-top: 5%;
	}
}